<!DOCTYPE html>
<html th:fragment="layout (content)"
      lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="dideo"/>
    <meta name="viewport" content="width=device-width,  user-scalable = no, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Dideo'sBlog</title>

    <!-- 링크 공유 시 미리보기 카드, SEC 최적화 등 나중에 고려하기
    <meta name="description" content=""/>
    <meta name="keyword" content=""/>

    <meta property="og:type" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>

    <meta property="twitter:card" content=""/>
    <meta property="twitter:title" content=""/>
    <meta property="twitter:description" content=""/>
    <meta property="twitter:image" content=""/>
    <meta property="twitter:url" content=""/>
    <meta property="twitter:creator" content=""/>

    <link rel="icon" href=""/>
    <link rel="apple-touch-icon" href=""/>
    <link rel="short icon" type="image/x-icon" href=""/>
    -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="/css/writeForm.css"/>
    <link rel="stylesheet" href="/css/viewArticle.css"/>

    <script src="https://kit.fontawesome.com/233840a552.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- 모바일 반응형 화면-->
    <header class="fixed-top d-xxl-none p-0">
        <!-- 헤더 -->
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
                        aria-controls="offcanvasMenu">
                    <i class="fas fa-bars"></i>
                </button>
                <div id="nav-brand">
                    <a th:href="@{/}">
                        <h4>MyCustomBlog</h4>
                    </a>
                </div>
                <div id="nav-login" sec:authorize="!isAuthenticated()"><a th:href="@{/login}"><i class="far fa-address-card pe-2"></i></a></div>
                <div sec:authorize="isAuthenticated()" class="pe-2">
                    <span sec:authorize="isAuthenticated()" th:text="${#authentication.name} + '님'"></span>
                    <span sec:authorize="hasRole('ADMIN')" style="font-size: 21px"><a th:href="@{/article/write}"><i class="fas fa-edit"></i></a></span>
                </div>
            </div>
        </nav>

        <!-- 사이드바 -->
        <aside class="offcanvas offcanvas-start " data-bs-scroll="true" style="max-width: 300px;" tabindex="-1"
               id="offcanvasMenu"
               aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body bg-white">
                <div th:replace="./layout/sideBar.html :: sideBar"></div>
            </div>
        </aside>
    </header>

    <!-- 브라우저 화면 -->
    <section class="row g-0 row-cols-xxl-2 g-xxl-0 p-0 ">
        <!-- 사이드바 -->
        <div class="bg-white sidebar col-xxl-2 d-none d-xxl-block p-0 overflow-auto">
            <div class="p-4 sidebar-inner">
                <div th:replace="./layout/sideBar.html :: sideBar"></div>

            </div>
        </div>
        <div class="bg-white col-xxl-2 d-none d-xxl-block p-0"></div>
        <!-- 본문 -->
        <div class="col-xxl-10 p-0 sections-container">
            <section th:replace="${content}"></section>
            <button id="arrow" class="arrow-up">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </section>
</body>
<!-- js -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
<script src="/js/csrf.js"></script>
<script src="/js/arrow.js"></script>
<script src="/js/etc.js"></script>
</html>