<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{::section})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head></head>
<body>
  <section>
    <div class="main ">
      <!-- 게시글 내 썸네일 -->
      <div class="carousel-inner ">
        <div class="carousel-item active">
          <img th:src="${article.getThumbnailUrl()}" class="w-100 vh-100 cover" alt="섬네일">
          <div class="card-img-overlay text-shadow text-white text-center row justify-content-center align-content-center p-0">
            <h1 style="font-size: 2.5rem;" th:text="${article.getTitle()}">게시글</h1>
            <h5 th:text="|작성일 : ${#temporals.format(article.getCreatedDate(), 'yyyy-MM-dd')}|">작성일</h5>
          </div>
        </div>
      </div>
      <!-- 본문 -->
      <textarea name="contents" id="contents" th:text="${article.getContent()}" hidden></textarea>
      <div class="mt-5 ms-2 me-2 ms-sm-5 me-sm-5 mt-sm-5 d-flex justify-content-center">
        <div class="paper">
          <div class="ms-2 me-2 p-sm-4 p-2" id="viewer"></div>
          <div class="ms-2 me-2 mb-3 p-sm-4 p-2">
            <div class="toolbox container pt-4 pb-4">
              <div sec:authorize="hasRole('ADMIN')" class=" ms-5 me-5 d-flex justify-content-end">
                <a class="btn btn-secondary" style="color: white"
                   th:href="@{/article/modify(articlenum=${article.getArticlenum()})}" type="button">수정하기</a>
                <form method="post" th:action="@{/article/delete(articlenum=${article.getArticlenum()})}" id="deleteFrm"></form>
                <button class="btn btn-secondary ms-2" onclick="deleteArticle()">삭제하기</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="py-1" style="color: rgb(212, 200, 184);">
      <span style="display:none" id="articlenumHidden" >[[${article.getArticlenum()}]]</span>
      <span sec:authorize="isAuthenticated()"></span>
      <!-- 댓글 전체 영역-->
      <div class="container mt-2 mb-5" style="max-width: 1200px;">
        <!-- 작성 영역 -->
        <div sec:authorize="!isAuthenticated()" class="ms-2 me-2 mt-3 d-flex align-items-center">
          <span style="display:none" id="loginUsernum">-1</span>
          <div><img src="/image/defaultProfile.png" width="50" height="50" class="rounded-circle me-2"></div>
          <textarea id="commentContent" name="commentContent" class="form-control" placeholder="댓글을 입력하려면 로그인을 해주세요" readonly></textarea>
        </div>
        <div sec:authorize="isAuthenticated()" class="ms-2 me-2 mt-3 d-flex align-items-center">
          <span style="display:none" id="loginUsernum" sec:authentication="principal.member.usernum"></span>
          <div><img th:src="${picUrl}" width="50" height="50" class="rounded-circle me-2"></div>
          <textarea id="commentContent" name="commentContent" class="form-control"></textarea>
        </div>
        <div sec:authorize="isAuthenticated()" class="d-flex">
          <div class="ms-auto mt-2 me-2">
            <button class="btn btn-secondary btn-sm" onclick="commentWrite()">등 록</button>
          </div>
        </div>

        <!-- 댓글 리스트 영역-->
        <div class="row justify-content-center align-items-center g-0 wow fadeInUp p-2">
          <div class="col">
            <div id="commentContainer">
              <div class="mt-2 comment-box" id="commentBox">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/viewArticle.js"></script>
  <script src="/js/comment.js"></script>
  </section>
</body>
</html>
