<!DOCTYPE html>
<html th:replace="~{layout/layout.html :: layout(~{::section})}"
      lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head></head>
<body>
<section>
    <div style="margin-bottom: 300px"></div>
    <div class="container">
        <div class="row">
            <P class="text-center field-error mt-3" id="capsAlert" >잘못된 접근입니다</P>
        </div>
    </div>
    <div style="margin-bottom: 300px"></div>
</section>
</body>
</html>
